<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cekrek Studio</title>
    <link rel="stylesheet" href="stylesheet.css" />
  </head>
  <body>
    <!-- Navigation bar -->
    <nav class="sticky">
      <label class="logo">Cekrek Studio</label>
      <ul class="nav-menu">
        <li><a href="http://localhost:3000/">Beranda</a></li>
        <li>
          <a class="active" href="http://localhost:3000/catalogue">Katalog</a>
        </li>
        <li><a href="http://localhost:3000/package">Paket</a></li>
        <li><a href="#">Tentang Kami</a></li>
      </ul>
    </nav>

    <!-- Catalogue Section -->
    <div class="catalogue-section">
      <div class="menu-title">
        <h1>Katalog Hasil Foto Studio</h1>
        <p>Lihat hasil foto dari berbagai latar studio</p>
      </div>
      <div class="catalogue-photo">
        <img src="/assets/catalogue-1.png" />
        <img src="/assets/catalogue-2.png" />
        <img src="/assets/catalogue-3.png" />
        <img src="/assets/catalogue-4.png" />
        <img src="/assets/catalogue-5.png" />
        <img src="/assets/catalogue-6.png" />
      </div>
    </div>
  </body>
</html>
