<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cekrek Studio</title>
    <link rel="stylesheet" href="/stylesheet.css" />
  </head>
  <body>
    <!-- Navigation bar -->
    <nav class="sticky">
      <label class="logo">Cekrek Studio</label>
      <ul class="nav-menu">
        <li><a class="active" href="http://localhost:3000/">Beranda</a></li>
        <li><a href="http://localhost:3000/catalogue">Katalog</a></li>
        <li><a href="http://localhost:3000/package">Paket</a></li>
        <li><a href="#">Tentang Kami</a></li>
      </ul>
    </nav>

    <!-- Hero Section -->
    <div class="hero-section">
      <div class="hero-content">
        <div class="hero-title">
          <h1>Abadikan Momen Spesial dengan Orang Spesial</h1>
          <p>
            Abadikan dan buat berkesan momen spesialmu dengan
            <b>Cekrek Studio!</b> Nikmati promo sekarang!
          </p>
        </div>
        <button
          class="primary-button"
          onclick="location.href='http://localhost:3000/order'"
        >
          Pesan Sekarang
        </button>
      </div>
      <img src="/assets/hero-wallpaper.png" />
    </div>

    <!-- Carousel Section -->

    <!-- Promotion Section -->
    <div class="promotion-section">
      <div class="promotion-section-all">
        <img src="/assets/promotion-up.png" />
        <div class="promotion-section">
          <h2><b>Pilih latar studio </b>sesuai keinginanmu</h2>
          <div class="promotion-content">
            <div class="promotion-list">
              <img class="logo" src="/assets/logo-up-1.png" />
              <div class="promotion-list-paragraph">
                <p><b>Berbagai Latar dan Properti</b></p>
                <p>Bebas pilih latar dan properti yang kamu inginkan.</p>
              </div>
            </div>
            <div class="promotion-list">
              <img class="logo" src="/assets/logo-up-2.png" />
              <div class="promotion-list-paragraph">
                <p><b>Ragam Pilihan Paket</b></p>
                <p>Berbagai macam pilihan paket sesuai kebutuhanmu!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="promotion-section-all">
        <div class="promotion-section">
          <h2>Foto tanpa batas dengan <b>harga terjangkau </b></h2>
          <div class="promotion-content">
            <div class="promotion-list">
              <img class="logo" src="/assets/logo-down-1.png" />
              <div class="promotion-list-paragraph">
                <p><b>Foto Sepuasnya</b></p>
                <p>Foto tanpa batas sebanyak yang kamu inginkan.</p>
              </div>
            </div>
            <div class="promotion-list">
              <img class="logo" src="/assets/logo-down-2.png" />
              <div class="promotion-list-paragraph">
                <p><b>Banyak Promo</b></p>
                <p>Harga terjangkau dengan berbagai diskon dan promo</p>
              </div>
            </div>
          </div>
        </div>
        <img src="/assets/promotion-down.png" />
      </div>
    </div>

    <!-- Review Section -->
    <div class="reviews-section">
      <div class="reviews-content">
        <div class="reviews-title">
          <h2>Apa Kata mereka soal <b>Cekrek Studio</b></h2>
          <p>
            <b style="color: #006970">+100 orang </b> telah memakai dan puas
            dengan jasa dan layanan
            <b>Cekrek Studio</b>
          </p>
        </div>
        <div class="reviews-card">
          <img src="/assets/reviews-card-1.png" style="width: 340px" />
          <img src="/assets/reviews-card-2.png" style="width: 340px" />
        </div>
      </div>
    </div>

    <!-- Package Section -->
    <div class="package-section">
      <div class="package-title">
        <h2>Pilih paket dan <b>pesan studio</b></h2>
        <p>Berbagai pilihan paket dengan berbagai keuntungan</p>
      </div>
      <div class="package-content">
        <div class="package-card">
          <h3>Basic</h3>
          <h2>Rp50.000</h2>
          <hr
            style="
              width: 100%;
              color: #e1e3e3;
              margin-bottom: 12px;
              margin-top: 12px;
            "
          />
          <ul>
            <li>
              <img src="/assets/logo-check.png" style="width: 20px" />
              <p>Unlimited foto</p>
            </li>
            <li>
              <img src="/assets/logo-check.png" style="width: 20px" />
              <p>Waktu foto maks. 45 menit</p>
            </li>
            <li>
              <img src="/assets/logo-check.png" style="width: 20px" />
              <p>Bebas pilih latar</p>
            </li>
            <li>
              <img src="/assets/logo-uncheck.png" style="width: 20px" />
              <p>Properti Terbatas</p>
            </li>
            <li>
              <img src="/assets/logo-uncheck.png" style="width: 20px" />
              <p>Kapasitas maks. 3 orang</p>
            </li>
            <li>
              <img src="/assets/logo-uncheck.png" style="width: 20px" />
              <p>Free 2 lembar cetak foto</p>
            </li>
          </ul>
          <div class="card-button">
            <button
              class="primary-button"
              style="width: 100%"
              onclick="location.href='http://localhost:3000/order'"
            >
              Pilih Paket
            </button>
          </div>
        </div>
        <div
          class="package-card"
          style="border: 2px solid #00a0aa; background: #e5f5f7"
        >
          <img
            src="/assets/premium-logo.png"
            style="width: 36px; padding-bottom: 12px"
          />
          <h3>Premium Plus</h3>
          <h2>Rp100.000</h2>
          <hr
            style="
              width: 100%;
              color: #e1e3e3;
              margin-bottom: 12px;
              margin-top: 12px;
            "
          />
          <ul>
            <li>
              <img src="/assets/logo-check.png" style="width: 20px" />
              <p>Unlimited foto</p>
            </li>
            <li>
              <img src="/assets/logo-check.png" style="width: 20px" />
              <p>Waktu foto maks. 45 menit</p>
            </li>
            <li>
              <img src="/assets/logo-check.png" style="width: 20px" />
              <p>Bebas pilih latar</p>
            </li>
            <li>
              <img src="/assets/logo-check.png" style="width: 20px" />
              <p>Bebas Pilih Properti</p>
            </li>
            <li>
              <img src="/assets/logo-check.png" style="width: 20px" />
              <p>Kapasitas maks. 10 orang</p>
            </li>
            <li>
              <img src="/assets/logo-check.png" style="width: 20px" />
              <p>Free 10 lembar cetak foto</p>
            </li>
          </ul>
          <div class="card-button">
            <button
              class="primary-button"
              style="width: 100%"
              onclick="location.href='http://localhost:3000/order'"
            >
              Pilih Paket
            </button>
          </div>
        </div>
        <div class="package-card">
          <h3>Premium</h3>
          <h2>Rp75.000</h2>
          <hr
            style="
              width: 100%;
              color: #e1e3e3;
              margin-bottom: 12px;
              margin-top: 12px;
            "
          />
          <ul>
            <li>
              <img src="/assets/logo-check.png" style="width: 20px" />
              <p>Unlimited foto</p>
            </li>
            <li>
              <img src="/assets/logo-check.png" style="width: 20px" />
              <p>Waktu foto maks. 45 menit</p>
            </li>
            <li>
              <img src="/assets/logo-check.png" style="width: 20px" />
              <p>Bebas pilih latar</p>
            </li>
            <li>
              <img src="/assets/logo-check.png" style="width: 20px" />
              <p>Bebas pilih properti</p>
            </li>
            <li>
              <img src="/assets/logo-uncheck.png" style="width: 20px" />
              <p>Kapasitas maks. 5 orang</p>
            </li>
            <li>
              <img src="/assets/logo-uncheck.png" style="width: 20px" />
              <p>Free 3 lembar cetak foto</p>
            </li>
          </ul>
          <div class="card-button">
            <button
              class="primary-button"
              style="width: 100%"
              onclick="location.href='http://localhost:3000/order'"
            >
              Pilih Paket
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Contact Us Section -->
    <div class="contact-section">
      <div class="contact-all">
        <img src="/assets/contact-us.png" />
        <div class="contact-content">
          <div class="contact-title">
            <h2>
              Ingin sewa studio sekaligus dengan <b>fotografer profesional?</b>
            </h2>
            <p>
              <b>Konsultasikan</b> permintaanmu sekarang, pesan studio, dan buat
              jadwal dengan fotografer kami!
            </p>
          </div>
          <button
            class="primary-button"
            onclick="location.href='https://api.whatsapp.com/'"
          >
            Hubungi Kami
          </button>
        </div>
      </div>
    </div>

    <footer>
      <label class="logo-footer">Cekrek Studio</label>
      <p style="color: #a9acac; font-size: 24px">©2023. All Right Reserved</p>
    </footer>
  </body>
</html>
