<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cekrek Studio</title>
    <link rel="stylesheet" href="/stylesheet.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
  </head>
  <body style="background-color: #fafafa">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  </body>

  <form method="post">
    <!-- Form order -->
    <!-- Personal data -->
    <div class="personal-data">
      <div
        class="form-title"
        style="display: flex; align-items: center; margin-bottom: 32px">
        <img
          src="/assets/logo-form-1.png"
          style="width: 40px; height: 40px; margin-right: 16px; margin-bottom: 8px;"
        />
        <h3>Data Diri Pemesan</h3>
      </div>
      <div class="mb-3">
        <label for="customer_name" class="form-label">Nama</label>
        <input type="customer_name" class="form-control" id="customer_name" aria-describedby="name">
      </div>
      <div class="mb-3">
        <label for="customer_email" class="form-label">Alamat Email</label>
        <input type="customer_email" class="form-control" id="customer_email" aria-describedby="email">
      </div>
      <div class="mb-3">
        <label for="customer_phone_number" class="form-label">Nomor Handphone (WhatsApp)</label>
        <input type="customer_phone_number" class="form-control" id="customer_phone_number">
      </div>
    </div>

    <!-- Package order -->
    <div class="other-data">
      <div
        class="form-title"
        style="display: inline-flex; align-items: center; margin-bottom: 32px"
      >
        <img
          src="/assets/logo-form-2.png"
          style="width: 40px; height: 40px; margin-right: 16px; margin-bottom: 8px;"
        />
        <h3>Pilihan Paket</h3>
      </div>
      <select for="package_order" class="form-select form-select-lg mb-3" aria-label="Large select example">
        <option selected>Pilih opsi paket</option>
        <option value="basic">Basic (50k)</option>
        <option value="premium">Premium (75K)</option>
        <option value="premium-plus">Premium Plus (100K)</option>
      </select>
    </div>

    <!-- Color order -->
    <div class="other-data">
      <div
        class="form-title"
        style="display: inline-flex; align-items: center; margin-bottom: 32px"
      >
        <img
          src="/assets/logo-form-3.png"
          style="width: 40px; height: 40px; margin-right: 16px; margin-bottom: 8px;"
        />
        <h3>Pilihan Warna</h3>
      </div>
      <select for="color_order" class="form-select form-select-lg mb-3" aria-label="Large select example">
        <option selected>Pilih opsi warna latar</option>
        <option value="basic">Blue</option>
        <option value="premium">Tosca</option>
        <option value="premium-plus">Peach</option>
        <option value="premium-plus">Yellow</option>
        <option value="premium-plus">Brown</option>
      </select>
    </div>

    <!-- Time order -->
    <div class="other-data" style="margin-bottom:32px">
      <div
        class="form-title"
        style="display: inline-flex; align-items: center; margin-bottom: 32px"
      >
        <img
          src="/assets/logo-form-4.png"
          style="width: 40px; height: 40px; margin-right: 16px; margin-bottom: 8px;"
        />
        <h3>Pilihan Waktu (Hari Ini)</h3>
      </div>
      <select for="time_order" class="form-select form-select-lg mb-3" aria-label="Large select example">
        <option selected>Pilih opsi warna latar</option>
        <option value="08:00">08:00</option>
        <option value="09:00">09:00</option>
        <option value="10:00">10:00</option>
        <option value="11:00">11:00</option>
        <option value="12:00">12:00</option>
        <option value="13:00">13:00</option>
        <option value="14:00">14:00</option>
        <option value="15:00">15:00</option>
        <option value="16:00">16:00</option>
        <option value="17:00">17:00</option>
      </select>
    </div>

    <div style="margin-left:80px; margin-bottom: 96px;">
      <button class="primary-button">Pesan Sekarang</button>
    </div>

  </form>
  </body>
</html>
