<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cekrek Studio</title>
    <link rel="stylesheet" href="/stylesheet.css" />
  </head>
  <body>
    <!-- Navigation bar -->
    <nav class="sticky">
      <label class="logo">Cekrek Studio</label>
      <ul class="nav-menu">
        <li><a href="http://localhost:3000/">Beranda</a></li>
        <li><a href="http://localhost:3000/catalogue">Katalog</a></li>
        <li>
          <a class="active" href="http://localhost:3000/package">Paket</a>
        </li>
        <li><a href="#">Tentang Kami</a></li>
      </ul>
    </nav>

    <!-- Package Section -->
    <div class="menu-package-section">
      <div class="package-section">
        <div class="menu-title">
          <h1>Pilih Paket Pesanan</h1>
          <p>Berbagai pilihan paket dengan berbagai keuntungan</p>
        </div>
        <div class="package-content">
          <div class="package-card">
            <h3>Basic</h3>
            <h2>Rp50.000</h2>
            <hr
              style="
                width: 100%;
                color: #e1e3e3;
                margin-bottom: 12px;
                margin-top: 12px;
              "
            />
            <ul>
              <li>
                <img src="/assets/logo-check.png" style="width: 20px" />
                <p>Unlimited foto</p>
              </li>
              <li>
                <img src="/assets/logo-check.png" style="width: 20px" />
                <p>Waktu foto maks. 45 menit</p>
              </li>
              <li>
                <img src="/assets/logo-check.png" style="width: 20px" />
                <p>Bebas pilih latar</p>
              </li>
              <li>
                <img src="/assets/logo-uncheck.png" style="width: 20px" />
                <p>Properti Terbatas</p>
              </li>
              <li>
                <img src="/assets/logo-uncheck.png" style="width: 20px" />
                <p>Kapasitas maks. 3 orang</p>
              </li>
              <li>
                <img src="/assets/logo-uncheck.png" style="width: 20px" />
                <p>Free 2 lembar cetak foto</p>
              </li>
            </ul>
            <div class="card-button">
              <button
                class="primary-button"
                style="width: 100%"
                onclick="location.href='http://localhost:3000/order'"
              >
                Pilih Paket
              </button>
            </div>
          </div>
          <div
            class="package-card"
            style="border: 2px solid #00a0aa; background: #e5f5f7"
          >
            <img
              src="/assets/premium-logo.png"
              style="width: 36px; padding-bottom: 12px"
            />
            <h3>Premium Plus</h3>
            <h2>Rp100.000</h2>
            <hr
              style="
                width: 100%;
                color: #e1e3e3;
                margin-bottom: 12px;
                margin-top: 12px;
              "
            />
            <ul>
              <li>
                <img src="/assets/logo-check.png" style="width: 20px" />
                <p>Unlimited foto</p>
              </li>
              <li>
                <img src="/assets/logo-check.png" style="width: 20px" />
                <p>Waktu foto maks. 45 menit</p>
              </li>
              <li>
                <img src="/assets/logo-check.png" style="width: 20px" />
                <p>Bebas pilih latar</p>
              </li>
              <li>
                <img src="/assets/logo-check.png" style="width: 20px" />
                <p>Bebas Pilih Properti</p>
              </li>
              <li>
                <img src="/assets/logo-check.png" style="width: 20px" />
                <p>Kapasitas maks. 10 orang</p>
              </li>
              <li>
                <img src="/assets/logo-check.png" style="width: 20px" />
                <p>Free 10 lembar cetak foto</p>
              </li>
            </ul>
            <div class="card-button">
              <button
                class="primary-button"
                style="width: 100%"
                onclick="location.href='http://localhost:3000/order'"
              >
                Pilih Paket
              </button>
            </div>
          </div>
          <div class="package-card">
            <h3>Premium</h3>
            <h2>Rp75.000</h2>
            <hr
              style="
                width: 100%;
                color: #e1e3e3;
                margin-bottom: 12px;
                margin-top: 12px;
              "
            />
            <ul>
              <li>
                <img src="/assets/logo-check.png" style="width: 20px" />
                <p>Unlimited foto</p>
              </li>
              <li>
                <img src="/assets/logo-check.png" style="width: 20px" />
                <p>Waktu foto maks. 45 menit</p>
              </li>
              <li>
                <img src="/assets/logo-check.png" style="width: 20px" />
                <p>Bebas pilih latar</p>
              </li>
              <li>
                <img src="/assets/logo-check.png" style="width: 20px" />
                <p>Bebas pilih properti</p>
              </li>
              <li>
                <img src="/assets/logo-uncheck.png" style="width: 20px" />
                <p>Kapasitas maks. 5 orang</p>
              </li>
              <li>
                <img src="/assets/logo-uncheck.png" style="width: 20px" />
                <p>Free 3 lembar cetak foto</p>
              </li>
            </ul>
            <div class="card-button">
              <button
                class="primary-button"
                style="width: 100%"
                onclick="location.href='http://localhost:3000/order'"
              >
                Pilih Paket
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
