@import url('https://fonts.googleapis.com/css?family=Nunito Sans');

*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: "Nunito Sans", sans-serif;
}

h1 {
    color: #000;
    font-family: Nunito Sans;
    font-size: 64px;
    font-weight: 700;
}

p{
    color: #000;
    font-family: Nunito Sans;
    font-size: 24px;
    font-weight: 400;
}

h2 {
    color: #000;
    font-family: Nunito Sans;
    font-size: 48px;
    font-weight: 400;
}

h3 {
    color: #000;
    font-family: Nunito Sans;
    font-size: 36px;
    font-weight: 400;
}

nav {
    background: #FFFFFF;
    box-shadow: 2px 4px 12px 4px rgba(0, 0, 0, 0.05);
    padding-top: 28px;
    padding-bottom: 28px;
}

label.logo{
    margin-left: 80px;
    color: #000000;
    font-family: DM Serif Display;
    font-size: 24px;
    font-weight: 400;
}

label.logo-footer{
    color: #000000;
    font-family: DM Serif Display;
    font-size: 48px;
    font-weight: 400;
}

nav ul {
    float: right;
    margin-right: 80px;
}

nav ul li {
    display: inline-block;
    padding-left: 24px;
    padding-right: 24px;
    font-weight: 700;
}

nav ul li a {
    color: #A9ACAC;
    font-size: 18px;
}

a.active, a:hover{
    color: #006970;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}


.hero-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 36px;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 56px;
}

.hero-section {
    padding-top: 176px;
    padding-left: 80px;
    padding-right: 80px;
    display: inline-flex;
    align-items: flex-start;
    gap: 80px;
}

button.primary-button {
    padding: 20px;
    border-radius: 8px;
    background: #00848D;
    color: #FFFFFF;
    font-size: 20px;
    border: 0;
}

button.primary-button:hover {
    background: #006970
}

.carousel-section {
    padding-top: 96px;
    padding-bottom: 96px;
    padding-left: 80px;
    padding-right: 80px;
}

img.logo {
    background: #FFFFFF;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.08);
    width: 48px;
}

.promotion-list-paragraph {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.promotion-list {
    display: inline-flex;
    align-items: flex-start;
    gap: 28px;
}

.promotion-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 36px;
}

.promotion-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    padding: 60px;
}

.promotion-section-all {
    display: flex;
    align-items: center;
    gap: 80px;
}

.reviews-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.reviews-card {
    display: flex;
    align-items: flex-end;
    gap: 20px;
}

.reviews-content {
    display: inline-flex;
    align-items: center;
    gap: 52px;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 60px;
    padding-bottom: 60px;
    background: #FFDEDE;
}

.reviews-section {
    margin-bottom: 96px;
}

.contact-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.contact-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}

.contact-all {
    display: flex;
    align-items: flex-start;
    gap: 52px;
    background: #FFDCA4;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 100px;
    padding-right: 100px;
    border-radius: 20px;
}

.contact-section {
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 80px;
}

li {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px;
}

.package-card {
    margin-top: 40px;
    padding: 40px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.04);
}

.card-button {
    padding-top: 40px;
}

.package-content {
    display: flex;
    align-items: center;
    gap: 40px;
}

.package-section {
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 96px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    background-color: #FAFAFA;
    padding: 80px;
}

.menu-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 40px;
}

.catalogue-section {
    padding-top: 176px;
    padding-bottom: 120px;
    padding-left: 80px;
    padding-right: 80px;
    gap: 80px;
}

.catalogue-photo {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.menu-package-section {
    padding-top: 176px;
}

.personal-data{
    margin-top: 80px;
    margin-left: 80px;
    margin-right: 80px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 48px;
    padding-right: 48px;
    border-radius: 12px;
    background: #FFF;
}

.other-data{
    margin-top: 16px;
    margin-left: 80px;
    margin-right: 80px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 48px;
    padding-right: 48px;
    border-radius: 12px;
    background: #FFF;
}